*.rbc
capybara-*.html
.rspec
.idea/**/*
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html
/.bundle
/vendor/bundle
.byebug_history
.bundle/
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
test/**/*
_site
.sass-cache
.jekyll-metadata