<h1>Home</h1>

<%= render partial: 'alert/basic' %>

<code>
  <%= render_raw partial: 'alert/basic' %>
</code>

<%= render partial: 'alert/styles' %>

<code>
  <%= render_raw partial: 'alert/styles' %>
</code>
