<%= bs_alert(style: :success) do %>
  <h4 class="alert-heading">Well done!</h4>
  <p>This is an alert with a block argument, which allows you to write more complex HTML inside an alert.</p>
<% end %>
