<h1>Alerts</h1>

<h2>Basic Usage</h2>

<%= render_example partial: 'alerts/basic' %>

<h2>Contextual Styles</h2>

<%= render_example partial: 'alerts/styles' %>

<h2>Block passing</h2>

<%= render_example partial: 'alerts/block_passing' %>

<h2>Dismissing</h2>

<%= render_example partial: 'alerts/dismissible' %>
