<header class="nav navbar navbar-dark sticky-top">
  <%= link_to 'Bootstrap View Helpers', root_path, class: 'navbar-brand' %>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/roooodcastro/bootstrap-view_helpers">
        <%= fa_icon 'github', class: 'fa-2x' %>
        <span class="sr-only">GitHub</span></a>
    </li>
  </ul>
</header>
